.container {
  background: #010e1a url('/img/ai-loader.gif') center center no-repeat;
}
.wrapper {
  border: 2px solid #c792ea;
  width: 100%;
  height: 600px;
  background-size: cover;
  filter: grayscale(70%);
}

.label {
  margin-bottom: 0;
  color: #ffffff;
  background-color: #c792ea;
  font-size: 0.8em;
  text-align: right;
  padding: 0 5px;
  margin-bottom: 1em;
}

.link,
.link:hover {
  color: #7fdbca;
  font-weight: bold;
}
