/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* load custom google font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* global variables */
:root {
  /* default Infima variable overrides */
  --ifm-color-primary: #c792ea;
  --ifm-color-primary-dark: #b772e4;
  --ifm-color-primary-darker: #ae62e1;
  --ifm-color-primary-darkest: #9632d8;
  --ifm-color-primary-light: #d7b2f0;
  --ifm-color-primary-lighter: #e0c2f3;
  --ifm-color-primary-lightest: #f8f2fc;
  --ifm-color-secondary: #7fdbca;
  --ifm-color-secondary-dark: #64d3bf;
  --ifm-color-secondary-darker: #56d0b9;
  --ifm-color-secondary-darkest: #35bda4;
  --ifm-color-secondary-light: #9ae3d5;
  --ifm-color-secondary-lighter: #a8e6db;
  --ifm-color-secondary-lightest: #d0f2ec;
  --ifm-code-color: #555555;
  --ifm-code-background: rgba(0, 0, 0, 0.05);
  --ifm-code-font-size: 95%;
  --doc-sidebar-width: 350px !important;
  --ifm-menu-link-sublist-icon-filter: opacity(0.25);

  /* custom variables */
  --ovicodes-color-black: #011627;
  --ovicodes-color-black-dark: #010e1a;
  --ovicodes-color-black-light: #555555;
  --ovicodes-color-white: #ffffff;
  --ovicodes-color-white-dark: #d6deeb;
  --ovicodes-color-fuchsia: #c792ea;
  --ovicodes-color-turquoise: #7fdbca;
  --ovicodes-color-yellow: #ffe564;
  --ovicodes-color-yellow-light: rgba(255, 229, 100, 0.3);
  --ovicodes-color-blue: #82aaff;
  --ovicodes-color-green: #addb67;
  --ovicodes-font-family-display: 'Press Start 2P', cursive;
}

/* header section */
.navbar {
  --ifm-navbar-background-color: var(--ovicodes-color-black);
  border-bottom: 1px solid var(--ifm-color-primary);
}
.navbar__toggle svg {
  color: var(--ovicodes-color-white);
}
.navbar__link {
  font-family: var(--ovicodes-font-family-display);
  font-size: 0.8em;
  letter-spacing: -1px;
  color: var(--ovicodes-color-white);
}
.navbar__link:hover {
  color: var(--ifm-color-primary);
}
.navbar__link--active {
  color: var(--ifm-color-secondary);
}

/* footer section */
.footer {
  --ifm-footer-background-color: var(--ovicodes-color-black);
  font-family: var(--ovicodes-font-family-display);
  font-size: 0.8em;
  letter-spacing: -1px;
  padding: 16px;
  border-top: 1px solid var(--ifm-color-primary);
}
.footer .container {
  padding: 0;
}

/* content section */
main > .container {
  max-width: 100%;
}

/* sidebar */
.menu__list {
  font-family: var(--ifm-font-family-monospace);
  font-size: 12px;
  line-height: 1em;
}
[aria-label='Collapse sidebar'] {
  position: absolute !important;
  top: 10px !important;
  right: 0 !important;
  border: none !important;
  background: none !important;
}
[aria-label='Collapse sidebar'] svg *,
[aria-label='Expand sidebar'] svg * {
  fill: var(--ifm-color-secondary);
}
.menu--responsive button {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
  border-radius: 99999px;
  height: 65px;
  width: 65px;
}

/* TOC */
.doc-page .table-of-contents {
  margin-top: -25px;
}
.doc-page .table-of-contents li {
  font-family: var(--ifm-font-family-monospace);
  margin: 1.2em 0.5em;
  line-height: 1.2em;
  letter-spacing: -1px;
  font-weight: semibold;
}
.doc-page .table-of-contents a {
  font-size: 1em;
  color: #989fb1;
}
.doc-page .table-of-contents a.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}
.doc-page .table-of-contents__link code {
  color: var(--ovicodes-color-white);
}

.doc-page h1,
.mdx-page h1 {
  font-family: var(--ovicodes-font-family-display);
  color: var(--ifm-color-secondary);
  font-size: 2em;
}
.doc-page h1 {
  text-align: center;
}
.doc-page h2,
.mdx-page h2 {
  font-family: var(--ovicodes-font-family-display);
  padding-top: 1.5em;
  font-size: 1em;
  letter-spacing: -1px;
  color: var(--ifm-color-primary);
}
.doc-page h3,
.mdx-page h3 {
  font-family: var(--ovicodes-font-family-display);
  color: var(--ifm-color-secondary);
  font-size: 0.8em;
}

.doc-page .markdown li,
.mdx-page li {
  list-style-type: square;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.doc-page main img,
.mdx-page main img {
  border-radius: 4px;
}

.doc-page blockquote,
.mdx-page blockquote {
  border-left: 0;
  position: relative;
  padding-left: 3em;
}
.doc-page blockquote:before,
.mdx-page blockquote:before {
  content: '"';
  font-family: var(--ovicodes-font-family-display);
  color: var(--ifm-color-secondary);
  font-size: 2em;
  position: absolute;
  left: 0.3em;
  top: 0.2em;
}

.doc-page,
.mdx-page {
  color: var(--ovicodes-color-black-light);
}

.doc-page article header:after {
  content: '';
  display: block;
  margin-bottom: 2em;
  height: 400px;
  width: 100%;
  background: url(../../static/img/cover.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.menu--responsive svg,
.menu--responsive span {
  display: none;
}
.menu--responsive button {
  background: var(--ifm-color-secondary) url(../../static/img/book.svg) center
    center no-repeat;
  background-size: 66%;
}
.menu--responsive.menu--show button {
  background: var(--ifm-color-secondary) url(../../static/img/cancel.svg) center
    center no-repeat;
  background-size: 43%;
}

.admonition-tip {
  background-color: var(--ovicodes-color-green);
  border-color: var(--ovicodes-color-green);
}
.admonition-info {
  background-color: var(--ovicodes-color-blue);
  border-color: var(--ovicodes-color-blue);
}
.admonition-warning {
  background-color: #ef7276;
  border-color: #ef7276;
}
.admonition code {
  border-color: var(--ovicodes-color-black) !important;
}
.admonition,
.admonition code,
.admonition a {
  color: var(--ovicodes-color-black) !important;
}
.admonition code {
  border-color: var(--ovicodes-color-black-light);
}
.admonition-icon svg {
  fill: var(--ovicodes-color-black) !important;
}

.doc-page .docusaurus-highlight-code-line,
.mdx-page .docusaurus-highlight-code-line {
  background-color: var(--ovicodes-color-yellow-light);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.inserted-sign,
.inserted.line {
  color: #31a931 !important;
}
.deleted-sign,
.deleted.line {
  color: #ef7276 !important;
  /* color: rgb(173, 219, 103) !important; */
}

.navbar__title,
a[class^='sidebarLogo_'] {
  color: var(--ifm-color-primary) !important;
  font-family: var(--ovicodes-font-family-display);
}

[class^='codeBlockTitle'],
[class^='codeBlockLines'] {
  background-color: rgba(0, 0, 0, 0.05) !important;
  border: 1px solid var(--ovicodes-color-white-dark);
  font-size: 0.85em !important;
}

/* line numbers */
.prism-code {
  counter-reset: line-number;
}
.prism-code[class*='language-'] .token-line::before {
  counter-increment: line-number;
  content: counter(line-number);
  margin-right: calc(var(--ifm-pre-padding) * 1.5);
  text-align: right;
  min-width: 1.5rem;
  display: inline-block;
  opacity: 0.3;
  position: sticky;
  left: var(--ifm-pre-padding);
}

/* about page */

.page-about__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}
.page-about__hero {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}
.page-about-hero__image {
  flex: 1;
  max-width: 33%;
}
.page-about-hero__description {
  flex: 3;
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-about__subtitle {
  margin: 3em 0;
  text-align: center;
}

.page-about__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 3em;
}

.gallery__image {
  width: calc(33% - 20px);
  margin: 10px;
  filter: grayscale(1);
}

.page-about__button {
  background-color: var(--ifm-color-primary);
  color: white;
  margin: 0 auto;
  display: block;
  width: 300px;
  text-align: center;
  font-family: var(--ovicodes-font-family-display);
  font-size: 1em;
  letter-spacing: -1px;
  padding: 10px;
}
.page-about__button:hover {
  text-decoration: none;
  color: white;
}

/* dark theme only */

html[data-theme='dark'] {
  --ifm-background-color: var(--ovicodes-color-black-dark);
  --ifm-code-background: var(--ifm-color-primary);
}

html[data-theme='dark'] .doc-page,
html[data-theme='dark'] .mdx-page {
  color: var(--ovicodes-color-white-dark);
}

html[data-theme='dark'] .doc-page [class^='codeBlockTitle'],
html[data-theme='dark'] .mdx-page [class^='codeBlockTitle'],
html[data-theme='dark'] .doc-page [class^='codeBlockLines'],
html[data-theme='dark'] .mdx-page [class^='codeBlockLines'] {
  background-color: var(--ovicodes-color-black) !important;
  border: 1px solid var(--ovicodes-color-black-light);
}
html[data-theme='dark'] code {
  background-color: rgba(0, 0, 0, 0.025);
  color: var(--ovicodes-color-white-dark);
  border-color: rgba(255, 255, 255, 0.25);
}
html[data-theme='dark'] .admonition code {
  color: var(--ifm-alert-color);
  border-color: var(--ifm-alert-color);
}

html[data-theme='dark'] .doc-page p strong,
html[data-theme='dark'] .mdx-page p strong {
  color: var(--ovicodes-color-white);
}
html[data-theme='dark'] .doc-page .admonition p strong,
html[data-theme='dark'] .mdx-page .admonition p strong {
  color: inherit;
}
html[data-theme='dark'] .doc-page .docusaurus-highlight-code-line,
html[data-theme='dark'] .mdx-page .docusaurus-highlight-code-line {
  background-color: rgba(127, 219, 202, 0.2) !important;
}
html[data-theme='dark'] .inserted-sign,
html[data-theme='dark'] .inserted.line {
  color: rgb(173, 219, 103) !important;
}

html[data-theme='dark'] .doc-page .table-of-contents a {
  font-size: 1em;
  color: var(--ifm-color-secondary);
}
html[data-theme='dark']
  .doc-page
  .table-of-contents
  a.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] .doc-page main img,
html[data-theme='dark'] .mdx-page main img {
  border-radius: 4px;
}

html[data-theme='dark'] .doc-page article header:after {
  border-radius: 4px;
}

/* mobile */

@media (max-width: 996px) {
  .doc-page h1,
  .mdx-page h1 {
    font-size: 1.5em;
  }
  .doc-page article header:after {
    height: 140px;
  }
  .page-about__hero {
    flex-direction: column;
    align-items: center;
  }
  .page-about-hero__image {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .page-about-hero__description {
    margin: 0;
  }

  .gallery__image {
    width: calc(50% - 22px);
  }
  .prism-code[class*='language-'] .token-line::before {
    display: none;
  }
}
